body {
}

header {
	max-width: 75%;
	margin: 10px auto;
	text-align: center;
}

nav ul {
	list-style: none;
}

a {
	text-decoration: none;
}

article {
	margin: 5px auto;
	border: 2px solid black;
	border-radius: 5px;
	max-width: 75%;
	z-index: 1;
	text-align: center;
}

.template {
	display: none;
}

.nav_link {
	display: inline;
	border: 2px solid black;
	padding: 0.2em;
}

.aboutMain {
	text-align: left;
}
